initial demo

requirements:
-character list
-party with 4 spaces in it
-ability to add characters to party
-When party is full, button to find a match is enabled
-clicking on button puts the party in the queue to be matched
  -Also navigates to level-b which is the matchup / sim results page
-If match is not found within a configurable amount of seconds (start with 15), match with CPU team
-when matched, simulation is run
-simulation is shown as text on page, line by line
-summary/result is displayed after clicking out of simulation
  - Alternative "just show me the result" button to skip simulation
-engine logic should be minimal (use a random number to get different results each run)

server:
  - models:
    -character_template
    -party
    -party_member
    -item_template
    -member_item
    -skill_template
    -member_skill
    -match
    -sim?

  -non rest actions:
   - begin simulation
   - get sim lines?  (Would be rest if sim/lines are in the DB)

client:
  routes:
    -level-a:
      - has character list, party slots, and start adventure button
    -level-b:
      - current party, matchup, and sim result

  services:
    - character list service:
      - contains the list of all characters
    - party service:
      - contains characters in the party as well as other party info
    - sim service:
      - contains info about the simulation of the dungeon for the current party

  directives:
    - party slot
    - selectable character


