initial demo

requirements:
-character list
-party with 4 spaces in it
-ability to add characters to party
-When party is full, button to find a match is enabled
-clicking on button puts the party in the queue to be matched
  -Also navigates to level-b which is the matchup / sim results page
-If match is not found within a configurable amount of seconds (start with 15), match with CPU team
-when matched, simulation is run
-simulation is shown as text on page, line by line
-summary/result is displayed after clicking out of simulation
  - Alternative "just show me the result" button to skip simulation
-engine logic should be minimal (use a random number to get different results each run)

server:
  - models:
    -user
    -character_template
    -party
    -party_member
    -item_template
    -member_item
    -skill_template
    -member_skill
    -match
    -sim?

  -non rest actions:
   - begin simulation
   - get sim lines?  (Would be rest if sim/lines are in the DB)

client:
  routes:
    -/root
      - Data: No data needed
      - Behavior: Main page with title and sign-in link and select-party link
    -/sign-in
      - Data: No data needed, populates user
      - Behavior: authenticate user, redirect to root
    -/select-party/userId:
      - Data: create temp user if no ID provided
        - Party
        - Member
        - Templates
      - Behavior: lists parties that the user has created in the past
        - Provides link to edit-party
    -/edit-party/partyId:
      - Data: User, party, members, templates
      - Behavior: allows you to choose templates for each party member slot
    -/edit-tactics/partyId:
      - Data: user, party, members, templates, tactics
      - Behavior: set tactics for each party member
    -/find-match/partyId
      - Data: user, party, members, templates, tactics
      - Behavior: mark party as 'looking for a match',
        - poll server to see if match has been found
    -/match-result/matchId:
      - Data: user, party, members, templates, tactics, match
      - Behavior: show match and result

  services:
    - character list service:
      - contains the list of all characters
    - party service:
      - contains characters in the party as well as other party info
    - sim service:
      - contains info about the simulation of the dungeon for the current party

  directives:
    - party slot
    - selectable character


